# This file must be used to handle environment variables, just copy it and remove the .example from it's name.

ASAAS_API_KEY=

CURRENT_URL=http://localhost:8080

DB_HOST=jdbc:postgresql://localhost:5432/meubanco

DECODO_PASS=
DECODO_USER=

MAIL_USERNAME=
MAIL_PASSWORD=

OTEL_ENDPOINT_METRICS=http://otel-collector:4318/v1/metrics
OTEL_ENDPOINT_TRACES=http://otel-collector:4318/v1/traces

POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

REDIS_PASSWORD=

SENTRY_AUTH_TOKEN=

SITE_URL=https://www.pecasporcodigo.com.br

SPRING_PROFILES_ACTIVE=local
