# This file must be used to handle environment variables, just copy it and remove the .example from it's name.

SPRING_PROFILES_ACTIVE=local

DB_HOST=
DB_USERNAME=
DB_PASSWORD=

MAIL_USERNAME=
MAIL_PASSWORD=

ASAAS_API_KEY=

REDIS_PASSWORD=

DECODO_USER=
DECODO_PASS=

POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

CURRENT_URL=http://localhost:8080
SITE_URL=https://www.pecasporcodigo.com.br
