HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Kotlin ###
.kotlin

.env

run_log_*.txt

build_log*
deps.txt
run_log.txt

gha-creds-*.json
*testdb*

testdb.trace.db

node_modules
.git
.DS_Store
# Keep package.json as it might be needed for some build steps or metadata
# even if we are just serving static files
# Dockerfile and .dockerignore are usually excluded from the image anyway

**node_modules**